/*Scroll Bar Styling*/
body::-webkit-scrollbar 
{
  width: 12px;
}

body::-webkit-scrollbar-track 
{
  background: #cbcbcb;
}

body::-webkit-scrollbar-thumb 
{
  background-color: orange;
  border-radius: 20px;
  border: 3px solid white;
}
body::-webkit-scrollbar-thumb:hover 
{
  background-color: blue; 
}

/*Live Date, Time & Day*/
.dTime 
{
	color: white;
	font-size: 15px;
}
.clock-icon 
{
	color: white;
}